@use "../utils/fonts";
@use "../utils/flex";
@use "../utils/vars" as vars;

*, *::before, *::after {
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: vars.$dark_blue;
    color: vars.$white;
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    border: none;
    appearance: none;
}

ul, li {
    list-style-type: none;
}

h2 {
    font-size: 80px;
    font-weight: 600;
}

h4 {
    font-size: 32px;
    font-weight: 600;
}

.title-line {
    position: relative;
    width: fit-content;
    padding-right: 40px;
    background: vars.$dark_blue;
    &:after, &:before {
        content: '';
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
    }
    &:after {
        width: 100vw;
        background: vars.$blue;
        height: 4px;
        left: 0;
        z-index: -1;
    }
    &:before {
        left: 99%;
        background: vars.$dark_blue;
        border: 4px solid vars.$blue;
        border-radius: 50%;
        width: 14px;
        height: 14px;
    }
    &.left {
        padding: 0 0 0 40px;
        &:after { 
            left: auto;
            right: 0;
        }
        &:before {
            left: auto;
            right: 99%;
        }
    }
}

.container {
    max-width: 1670px;
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
}

.notes {
    padding: 6px 16px 14px 25px;
    max-width: 700px;
    border-left: 4px solid vars.$blue;
    font-size: 32px;
    font-weight: 600;
    position: relative;
    margin-left: 5px;
    &:before, &:after {
        content: '';
        position: absolute;
        left: -9px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 4px solid vars.$blue;
        background-color: vars.$dark_blue;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    &_space {
        margin: 9.4vh 0 0 13vw;
    }
}

.border {
    border: 4px solid vars.$blue;
    max-width: 665px;
    height: fit-content;
    width: 100%;
    padding: 19px 19px 24px;
}
.how_work, .border {
    margin-top: 64px;
}

.c-blue {
    color: vars.$blue;
    fill: vars.$blue;
}

.c-white {
    color: vars.$white;
    fill: vars.$white;
}

.c-dark_blue {
    color: vars.$dark_blue;
}

.btn {
    border: 4px solid  vars.$blue;
    width: 100%;
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
    padding: 24px;
    @include flex.d-flex(center, center);
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
        background: rgba(255, 255, 255, 0.15);
    }
    & svg {
        margin-left: 10px;
    }
}

.video {
    position: relative;
    max-width: 120.6vh;
    max-height: 807.4px;
    height: 74.76vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    & > svg {
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
    }
    & iframe {
        margin: auto;
        max-width: 1160px;
        width: 100%;
        height: 654px;
        display: block;
    }
}

/* section_offer */
.section_offer {
    background: #000 url('../img/bg_main.webp') no-repeat right bottom / cover;
    min-height: var(--app-height, 100vh);
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    & .title-h1 {
        margin-bottom: 13.1vh;
        span {
            padding-left: 13vw;
            margin-top: 20px;
            & svg {
                margin-right: 13px;
            }
        }
    }
}


.cube {
    position: absolute;
    right: calc(170 / 1080 * 100vh); /* або ~15.74vh */
    bottom: calc(201 / 1080 * 100vh); /* або ~18.6vh */
    width: calc(507 / 1080 * 100vh); /* або ~46.9vh */

    height: auto;
}

.icon_1 {
    fill: url(#_Градієнт_без_назви_6);
}

.icon_2 {
    fill: url(#_Градієнт_без_назви_62); 
}

.icon_3 {
    fill: url(#_Градієнт_без_назви_2);
}

.icon_4 {
    fill: url(#_Градієнт_без_назви_3);
}

.icon_5 {
    fill: url(#_Градієнт_без_назви_34);
}

.icon_6 {
    fill: url(#_Градієнт_без_назви_39);
}

.icon_7 {
    fill: url(#_Градієнт_без_назви_4);
}

.icon_8 {
    fill: url(#_Градієнт_без_назви_319);
}

.icon_1, .icon_2, .icon_3, .icon_4,
.icon_5, .icon_6, .icon_7, .icon_8 {
    opacity: 0.5; 
    filter: drop-shadow(0 0 0px #52b9ff);
    animation: highlightIcon 8s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

.icon_1 { animation-delay: 0s; }
.icon_2 { animation-delay: 1s; }
.icon_3 { animation-delay: 2s; }
.icon_4 { animation-delay: 3s; }
.icon_5 { animation-delay: 4s; }
.icon_6 { animation-delay: 5s; }
.icon_7 { animation-delay: 6s; }
.icon_8 { animation-delay: 7s; }

/* section_events */
.section_events {
    padding: 97px 0 7px;
    & h2 {
        margin-bottom: 62px;
    }
}

/* list_events */
.list_events {
    & li {
        margin-bottom: 52px;
        gap: 30px;
    }
    &_date {
        width: 140px;
    }
    &_date,  &_info div {
        font-size: 32px;
        font-weight: 600;
    }
    &_info {
        width: 100%;
        max-width: 744px;
        & div {
            background-color: vars.$blue;
            padding: 0 9px;
            line-height: 46px;
            color: vars.$dark_blue;
            margin-bottom: 12px;
        }
    }
    &_action {
        width: 100%;
        max-width: 470px;
        text-align: center;
        & > p {
            margin-bottom: 24px;
            line-height: 46px;
        }
    }
}

/* section_howItWas  */
.section_howItWas {
    overflow: hidden;
    background: url("../img/bg_2.webp") no-repeat center bottom / cover;
    padding: 54px 0 86px;
    & h2 {
        margin-bottom: 27px;
    }
}

/* section_whyWasProject */
.section_whyWasProject {
    padding: 47px 0 125px;
}

.list {
    & li {
        margin-top: 16px;
        & svg {
            margin-right: 15px;
            margin-top: 6px;
        }
    }
}

.note {
    background: vars.$blue;
    position: relative;
    &_logo {
        border-radius: 14px;
        background: vars.$white;
        padding: 21px 50px;
        margin: -36px 24px -36px 0;
    }
}

/* section_partners */
.section_partners {
    padding-top: 140px;
    & h2 {
        margin-bottom: 80px;
    }
}

.partners-logos {
    border-top: 4px solid vars.$blue;
    border-bottom: 4px solid vars.$blue;
    background: rgba(255, 255, 255, 0.10);
    padding: 50px 0 20px;
    & img, & svg {
        object-fit: contain;
        margin: 30px 90px;
        width: auto;
    }
}

/* footer */
.footer {
    padding: 120px 0;
    & h4 {
        margin: -12px 14px 0 0;
    }
    &_social {
        margin-left: 14px;
    }
}

@keyframes highlightIcon {
    0% { 
        opacity: 0.5; 
        filter: drop-shadow(0 0 0px #52b9ff);
        }
    12.5% { 
        opacity: 1; 
        filter: drop-shadow(0 0 10px #52b9ff);
        }
    25% { 
        opacity: 0.5; 
        filter: drop-shadow(0 0 0px #52b9ff);
    }
    100% { 
        opacity: 0.5; 
        filter: drop-shadow(0 0 0px #52b9ff);
    }
}


@media (max-width: 1440px) {
    .video iframe {
        height: 45.3vw;
    }
    .cube {
        right: 16.4vh;
        bottom: 19.4vh;
        width: 48.8vh;
    }
    .btn,
    body {
        font-size: 18px;
    }
    .btn {
        padding: 9px;
        & svg {
            height: 18px;
            width: auto;
        }
    }
    h2 {
        font-size: 50px;
    }

    h4,
    .notes,
    .list_events_date, .list_events_info div {
        font-size: 24px;
    }
    .notes  {
        max-width: 535px;
    }
    .list_events_info {
        max-width: 600px;
    }
    .list_events_action {
        max-width: 300px;
    }
    .border {
        max-width: 503px;
    }
    .list li svg {
        height: 18px;
        width: auto;
    }
    .footer {
        padding: 80px 0;
    }
}

@media (max-width: 1199px) {
    .list_events_info, .list_events_action {
        max-width: 100%;
    }
}

@media (max-width: 1024px) and (min-height: 767px) {
    .section_offer {
        padding-bottom: 30vh;
    }
}

@media (max-width: 1024px) {
    .section_offer {
        background: #000 url("../img/mobile_bg_main.webp") no-repeat center bottom/cover;
    }
    .cube {
        right: 50%;
        bottom: 10vh;
        width: 44.5vh;
        transform: translate(50%);
    }

    .video {
        height: 54.2vw;
        margin-left: -7px;
        width: calc(100% + 14px);
        & iframe {
            width: 77.8vw;
            height: 44.3vw;
        }
    }
    .partners-logos img, .partners-logos svg {
        margin: 30px 50px;
    }
}

@media (max-width: 767px) and (min-height: 520px) {
    .section_offer {
        padding-bottom: 34vh;
    }
}

@media (max-width: 767px) {
    .cube {
        right: 50%;
        bottom: 21.7vw;
        width: 60.3vw;
        transform: translateX(50%);
    }
    .section_offer {
        .title-h1 { 
            margin-bottom: 9vh;
            & > svg {
                width: 281.16px;
                height: 22.11px;
            }
            & span {
                padding-left: 76px;
                margin-top: 4px;
                & svg.icon-arrow_right_double {
                    width: 16.72px;
                    height: 18.88px;
                    margin-right: 4px;
                }
                & svg.icon-title2 {
                    width: 236.8px;
                    height: 25.13px;
                }
            }
        }
    }
    .section_howItWas h2 {
        margin-bottom: 14px;
    }
    .section_howItWas {
        padding-bottom: 29px;
    }
    .section_whyWasProject h2 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 45px;
    }
    .section_whyWasProject {
        padding: 47px 0 60px;
    }
    .how_work {
        margin-top: 45px;
    }
    .how_work h4 {
        font-size: 16px;
    }
    .border {
        padding: 10px;
        margin-top: 45px;
    }
    .section_whyWasProject .list {
        margin-top: 6px;
    }
    .list li svg {
        margin-right: 6px;
        margin-top: 5px;
    }
    .btn {
        & svg {
            height: 14px;
        }
    }
    .btn,
    body {
        font-size: 12px;
    }
    h2 {
        font-size: 30px;
    }

    h4,
    .notes,
    .list_events_date, .list_events_info div {
        font-size: 14px;
    }
    .list_events_info div {
        line-height: 20px;
    }

    .list li {
        margin-top: 0;
        & svg {
            height: 10px;
            width: auto;
        }
    }
    .title-line:before,
    .notes_space:before,  .notes_space:after,
    .notes:before, .notes:after {
        width: 8px;
        height: 8px;
        border-width: 2px;
        left: -5px;

    }

    .partners-logos, .notes, .border, .btn {
        border-width: 2px;
    }
    .notes {
        margin-left: 2px;
        padding: 6px 9px 14px 9px;
        max-width: 305px;
    }

    .notes_space {
        margin: 4.4vh 0 0 20vw;
    }
    .note_logo {
        padding: 9px 18px 5px;
        border-radius: 4px;
        margin-right: 14px;
        & svg {
            width: 68px;
            height: 29px;

        }
    }
    .note h4 {
        font-size: 10px;
    }
    .section_events {
        padding: 66px 0 0;
        & h2 {
            margin-bottom: 37px;
        }
    }
    .list_events li {
        margin-bottom: 46px;
        gap: 12px;
    }
    .list_events_info div {
        font-size: 16px;
        padding: 10px 5px 12px 5px;
    }
    .list_events_action {
        & > p {
            margin-bottom: 15px;
            line-height: 1;
        }
    }
    .section_partners {
        padding-top: 66px;
        & h2 {
            margin-bottom: 35px;
        }
    }
    .partners-logos {
        padding: 23px 0;
    }
    .partners-logos img, .partners-logos svg {
        margin: 16px 30px;
        width: auto;
        height: 20px;
    }
    .footer .container {
        flex-direction: column;
        align-items: flex-end;
    }
    
    .footer {
        &_social {
            margin-left: 19px;
            margin-top: 18px;
            & svg {
                width: 25px;
                height: 25px;
            }
        }
        & h4 {
            margin: -12px 0 0 0;
        }
    }
    .title-line:after {
        height: 2px;
    }
    .title-line:not(.left) {
        padding-right: 0;
        &:after,  &:before {
            left: 71%;
            transform: none;
        }
        &:after {
            height: 2px;
            top: -7px;
        }
        &:before {
            top: -10px;
        }
    }
    .title-line.left {
        padding: 0 0 0 12px;
    }
    .footer {
        padding: 51px 0;
    }
}

@media (max-width: 390px) {
    .container {
        padding: 0 15px;
    }
}

@media (max-width: 767px) and (min-height: 1037px) {
    .cube {
        bottom: 12.7vw;
        width: 60.3vw;
    }
}
@media (max-height: 600px) and (min-width: 400px){
    .section_offer {
        background: #000 url("../img/bg_main.webp") no-repeat right bottom / cover;
        & .cube {
            right: 39.6vh;
            bottom: 18.6vh;
            width: 47vh;
        }
    }
}

@media (min-height: 853px) and (min-width: 393px) and (max-width: 412px){
    .section_offer .cube {
        bottom: 22vw;
        width: 62.3vw;
    }
}

@media (max-height: 700px) and (max-width: 767px) {
    .section_offer {
        // padding-bottom: 44vh;
    }
}


@media (min-width: 2560px) and (min-height: 1000px){
    .cube {
        right: 232px;
        bottom: 276px;
        width: 669px;
        transform: none;
    }
}

@media (min-width: 3439px) {
    .section_offer {
        background-size: auto 100%;
    }
}

@media (min-width:  540px) and (max-width: 1024px) and (max-height: 1536px) and (min-height: 601px) {
    .section_offer {
        padding-bottom: 50vh;
        background-position: center bottom -70px;
    }
    .section_offer .title-h1 {
        margin-bottom: 7.1vh;
    }
    .notes_space {
        margin: 5.4vh 0 0 13vw;
    }
    
}

@media (min-width: 876px) and (max-width: 1400px) and (max-height: 1536px) {
    .cube {
        bottom: 9vh;
        width: 37.5vh;
    }
}

@media (min-width: 1920px) and (min-height: 800px) {
    .cube {
        right: 167px;
        bottom: 197px;
        width: 509px;
    }
}

@media (width: 820px) and (height: 1180px) {
    .cube {
        bottom: 9vh;
        width: 42vh;
    }
}

@media (width: 1180px) and (height: 820px) {
    .section_offer .title-h1 {
        margin-bottom: 7.1vh;
    }
    .notes_space {
        margin: 5.4vh 0 0 13vw;
    }
}


@media (width: 834px) and (height: 1194px) {
    .cube {
        bottom: 9.4vh;
        width: 42vh;
    }
}


@media (width: 1024px) and (height: 1366px) {
    .cube {
        bottom: 11.4vh;
        width: 45vh;
    }
}

@media (width: 800px) and (height: 1280px) {
    .cube {
        bottom: 8vh;
        width: 38vh;
    }
}
@media (width: 800px) and (height: 1216px) {
    .cube {
        bottom: 8.4vh;
        width: 40vh;
    }
}
@media (width: 900px) and (height: 1440px) {
    .cube {
        bottom: 9vh;
        width: 37.5vh;
    }
}

@media (min-width: 800px) and (max-height: 430px) {
    .section_offer .cube {
        right: 47.9vh;
        bottom: 22.8vh;
        width: 57vh;
    }
}

@media (min-width: 800px) and (height: 360px) {
    .section_offer .cube {
        right: 49vh;
        bottom: 23.4vh;
        width: 59vh;
    }
}
@media (width: 414px) and (height: 896px)  {
    .section_offer .cube {
        width: 59.3vw;
    }
}
@media (width: 912px) and (height: 1368px) {
    .section_offer .cube {
        bottom: 9.6vh;
        width: 40vh;
    }
}
@media (width: 540px) and (height: 720px) {
    .section_offer .cube {
        bottom: 8.7vw;
    }
}
@media (width: 344px) and (height: 882px) {
    .section_offer .cube {
        bottom: 26.2vw;
        width: 70.1vw;
    }
}

@media (min-width: 853px) and (height: 1280px) {
    .section_offer .cube {
        bottom: 13.6vw;
        width: 60vw;
    }
}

@media (min-width: 1280px) and (height: 800px) {
    .cube {
        right: 16.2vh;
        bottom: 18.6vh;
        width: 47vh;
    }
}