@mixin d-flex($justify: flex-start, $items: flex-start) {
    display: flex;
    justify-content: $justify;
    align-items: $items;
}

.d-flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.flex-end-center {
    @include d-flex(flex-end, center);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}