footer(class="footer") 
    .container.flex-end-center 
        h4.title-line.left Посилання на соц мережі: 
        .d-flex
            a.footer_social(href="#") 
                +icon("facebook", 43, 43)
            a.footer_social(href="#") 
                +icon("linkedin", 43, 43)
            a.footer_social(href="#") 
                +icon("youtube", 43, 43)
            a.footer_social(href="#") 
                +icon("telegram", 43, 43)
            a.footer_social(href="#") 
                +icon("mail", 43, 43)